TiVi-Dagatal/bin/classes.dex
TiVi-Dagatal/bin/resources.ap_
TiVi-Dagatal/bin/TiVi-Dagatal.apk
*.apk
*.class
TiVi-Dagatal/src/com/example/tivi_dagatal/MyShows.java
TiVi-Dagatal/bin/classes.dex
*.cache
TiVi-Dagatal/bin/TiVi-Dagatal.apk
TiVi-Dagatal/project.properties
TiVi-Dagatal-Fragment/bin/TiVi-Dagatal-Fragment.apk
